<div class="row">
    <div class="col-xs-10">
      <hr>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let expense  of expenses; let i = index">
           <!-- <a [routerLink]="['/expenses', expense.id , expense.expenseType , expense.value,
           expense.comments]"> -->
            <a> {{expense.expenseType}}
              <button class="btn btn-primary" (click)="showDetails(i)">View detail</button>
              <button class="btn btn-danger" (click)="deleteExpense(i)">Delete</button>
          </a>
        </li>
      </ul>
      <app-expense-detail [selectedExpenseId]="selectedExpenseIdV2" ></app-expense-detail>
    </div>
</div>
